<div id='<%=question.id%>'>
  <h3><%= question.body %></h3>
  <fieldset id='question<%=question.id%>'>
    <% question.answers.each do |answer| %>
      <input type='radio' value='<%=answer.id%>' name='Answer<%=question.id%>'/> <%=answer.answer %>
    <% end %>
  </fieldset>
</div>
