<h1>Survey Guerilla</h1>
  <div class="profile-details">
    <div class="username"><%= user.name %></div>
    <div class="email"><%= user.email %></div>
    <% user.surveys.each do |s| %>
      <div>URL: <a href="http://localhost:9393/surveys/<%= s.url %>"><%= s.url %></a></div>
      <div>Survey Title: <%= s.name %></div>
      <div><a href='/stats/<%=s.id%>'>Stats</a>
    <% end %>

  <% if session[:user_id] == user.id %>
    <div id="user-options">
      <div ><a class="edit-profile" href="/user/<%=user.id %>/edit">Click here to Edit your profile</a></div>
      <div><a href="/user/areyousure">Click here to Delete your profile</a></div>
      <div><a href="/surveys/new">Click here to make a new Survey</a></div>
    </div>
  <% end %>
</div>

