<div>Title: <a href='/user/<%= survey.creator.id %>/surveys/<%=survey.url%>'><%= survey.name %></a></div>
<div>Url: <%= survey.url %></div>
<% if survey.creator %>
<div>Creator: <%= survey.creator.name %></div>
<% end %>
<a href='#'>Stats</a>
